<div class="container">
    <mat-card appearance="outlined">
        <mat-card-content>
            <h1>Login</h1>
            <p>Don't already have an account? <a href="/register">Register</a></p>
            <form class="form">
                <mat-form-field class="full-width">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. john@example.com">
                    @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
                    <mat-error>Please enter a valid email address</mat-error>
                    }
                    @if (emailFormControl.hasError('required')) {
                    <mat-error>Email is <strong>required</strong></mat-error>
                    }
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput [formControl]="passwordFormControl">
                    @if (passwordFormControl.hasError('minLength') && !passwordFormControl.hasError('required')) {
                    <mat-error>Password must be atleast 6 characters long</mat-error>
                    }
                    @if (emailFormControl.hasError('required')) {
                    <mat-error>Password is <strong>required</strong></mat-error>
                    }
                </mat-form-field>
                <a href="#">Forgot password?</a>
                <div class="button">
                    <button mat-raised-button>Login</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>