:root,
:host {
    --sys-background: #ffffff;
    --sys-on-background: #171d1e;
    --sys-surface: #ffffff;
    --sys-surface-dim: #d5dbdc;
    --sys-surface-bright: #ffffff;
    --sys-surface-container-lowest: #ffffff;
    --sys-surface-container-low: #ffffff;
    --sys-surface-container: #ffffff;
    --sys-surface-container-high: #ffffff;
    --sys-surface-container-highest: #ffffff;
    --sys-on-surface: #171d1e;
    --sys-surface-variant: #ffffff;
    --sys-on-surface-variant: #3f484a;
    --sys-inverse-surface: #2b3133;
    --sys-inverse-on-surface: #ffffff;
    --sys-outline: #6f797a;
    --sys-outline-variant: #ffffff;
    --sys-shadow: #000000;
    --sys-scrim: #000000;
    --sys-surface-tint: #D6B66D;
    --sys-primary: #D6B66D;
    --sys-on-primary: #ffffff;
    --sys-primary-container: #D6B66D;
    --sys-on-primary-container: #765a0b;
    --sys-inverse-primary: #D6B66D;
    --sys-secondary: #765a0b;
    --sys-on-secondary: #ffffff;
    --sys-secondary-container: #ffdf99;
    --sys-on-secondary-container: #5a4300;
    --sys-tertiary: #765a0b;
    --sys-on-tertiary: #ffffff;
    --sys-tertiary-container: #ffdf99;
    --sys-on-tertiary-container: #5a4300;
    --sys-error: #904a43;
    --sys-on-error: #ffffff;
    --sys-error-container: #ffdad5;
    --sys-on-error-container: #73342d;
    --sys-neutral: #727879;
    --sys-neutral-variant: #6f797b;
    --sys-primary-fixed: #ffffff;
    --sys-primary-fixed-dim: #ffffff;
    --sys-on-primary-fixed: #001f24;
    --sys-on-primary-fixed-variant: #004f58;
    --sys-secondary-fixed: #ffdf99;
    --sys-secondary-fixed-dim: #e7c26c;
    --sys-on-secondary-fixed: #251a00;
    --sys-on-secondary-fixed-variant: #5a4300;
    --sys-tertiary-fixed: #ffdf99;
    --sys-tertiary-fixed-dim: #e7c26c;
    --sys-on-tertiary-fixed: #251a00;
    --sys-on-tertiary-fixed-variant: #5a4300;
    --sys-inverse-secondary: #e7c26c;
    --sys-inverse-tertiary: #e7c26c;
    --sys-inverse-error: #ffb4ab;
    --sys-error-fixed: #ffdad5;
    --sys-error-fixed-dim: #ffb4ab;
    --sys-on-error-fixed: #3b0907;
    --sys-on-error-fixed-variant: #73342d;
}