/* You can add global styles to this file, and also import other style files */
@import './styles/font.css';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Lufga", sans-serif;
}

mat-label,
input,
mat-checkbox,
button,
.mat-button {
    font-family: "Lufga", sans-serif;
}