:root,
:host {
    --sys-background: #FFFFFF;
    --sys-on-background: #0E0E0E;
    --sys-surface: #FFFFFF;
    --sys-surface-dim: #d5dbdc;
    --sys-surface-bright: #FFFFFF;
    --sys-surface-container-lowest: #FFFFFF;
    --sys-surface-container-low: #eff5f6;
    --sys-surface-container: #e9eff0;
    --sys-surface-container-high: #e3e9ea;
    --sys-surface-container-highest: #dee3e5;
    --sys-on-surface: #171d1e;
    --sys-surface-variant: #dbe4e6;
    --sys-on-surface-variant: #3f484a;
    --sys-inverse-surface: #2b3133;
    --sys-inverse-on-surface: #ecf2f3;
    --sys-outline: #6f797a;
    --sys-outline-variant: #bfc8ca;
    --sys-shadow: #000000;
    --sys-scrim: #000000;
    --sys-surface-tint: #D6B66D;
    --sys-primary: #D6B66D;
    --sys-on-primary: #0E0E0E;
    --sys-primary-container: #ffdf99;
    --sys-on-primary-container: #5a4300;
    --sys-inverse-primary: #e7c26c;
    --sys-secondary: #006874;
    --sys-on-secondary: #FFFFFF;
    --sys-secondary-container: #9eeffd;
    --sys-on-secondary-container: #004f58;
    --sys-tertiary: #006874;
    --sys-on-tertiary: #FFFFFF;
    --sys-tertiary-container: #9eeffd;
    --sys-on-tertiary-container: #004f58;
    --sys-error: #904a43;
    --sys-on-error: #FFFFFF;
    --sys-error-container: #ffdad5;
    --sys-on-error-container: #73342d;
    --sys-neutral: #727879;
    --sys-neutral-variant: #6f797b;
    --sys-primary-fixed: #ffdf99;
    --sys-primary-fixed-dim: #e7c26c;
    --sys-on-primary-fixed: #251a00;
    --sys-on-primary-fixed-variant: #5a4300;
    --sys-secondary-fixed: #9eeffd;
    --sys-secondary-fixed-dim: #82d3e0;
    --sys-on-secondary-fixed: #001f24;
    --sys-on-secondary-fixed-variant: #004f58;
    --sys-tertiary-fixed: #9eeffd;
    --sys-tertiary-fixed-dim: #82d3e0;
    --sys-on-tertiary-fixed: #001f24;
    --sys-on-tertiary-fixed-variant: #004f58;
    --sys-inverse-secondary: #82d3e0;
    --sys-inverse-tertiary: #82d3e0;
    --sys-inverse-error: #ffb4ab;
    --sys-error-fixed: #ffdad5;
    --sys-error-fixed-dim: #ffb4ab;
    --sys-on-error-fixed: #3b0907;
    --sys-on-error-fixed-variant: #73342d;
}